In [1]:
import pandas as pd

In [4]:
test_df_file_path=r"D:\ML\MLOps_house_price_project\housing\artifact\data_ingestion\2025-03-08-20-52-35\ingested_data\test\housing.csv"

In [7]:
df = pd.read_csv(test_df_file_path)
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-118.39,34.12,29.0,6447.0,1012.0,2184.0,960.0,8.2816,500001.0,<1H OCEAN
1,-120.42,34.89,24.0,2020.0,307.0,855.0,283.0,5.0099,162500.0,<1H OCEAN
2,-118.45,34.25,36.0,1453.0,270.0,808.0,275.0,4.3839,204600.0,<1H OCEAN
3,-118.10,33.91,35.0,1653.0,325.0,1072.0,301.0,3.2708,159700.0,<1H OCEAN
4,-117.07,32.77,38.0,3779.0,614.0,1495.0,614.0,4.3529,184000.0,NEAR OCEAN

In [8]:
df.shape

(4128, 10)

In [9]:
from housing.entity.housing_predictor import HousingPredictor

In [13]:
model_dir = r"D:\ML\MLOps_house_price_project\saved_models"

In [14]:
housing_predictor = HousingPredictor(model_dir=model_dir)

In [15]:
housing_predictor.get_latest_model_path()

'D:\\ML\\MLOps_house_price_project\\saved_models\\20250308205602\\model.pkl'

In [16]:
latest_model_path = r"D:\\ML\\MLOps_house_price_project\\saved_models\\20250308205602\\model.pkl"

In [17]:
housing_predictor.predict(df)

housing_logs\log_2025-03-09_08-45-34.log

array([424327.43173199, 290941.55056488, 242611.08936427, ...,
       309892.89406352, 266770.06617997, 238676.55345928])

In [21]:
pred =housing_predictor.predict(df)

In [22]:
len(pred)

4128

In [23]:
pred.shape

(4128,)

In [20]:
df.shape

(4128, 10)

In [28]:
df.head(3)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-118.39,34.12,29.0,6447.0,1012.0,2184.0,960.0,8.2816,500001.0,<1H OCEAN
1,-120.42,34.89,24.0,2020.0,307.0,855.0,283.0,5.0099,162500.0,<1H OCEAN
2,-118.45,34.25,36.0,1453.0,270.0,808.0,275.0,4.3839,204600.0,<1H OCEAN

In [29]:
df_2 = df[:1]

In [30]:
df_2

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-118.39,34.12,29.0,6447.0,1012.0,2184.0,960.0,8.2816,500001.0,<1H OCEAN

In [31]:
housing_predictor.predict(df_2)

array([424327.43173199])

In [33]:
import os

In [32]:
LOG_FOLDER_NAME = "logs"

In [36]:
pwd

'd:\\ML\\MLOps_house_price_project\\notebook'

In [38]:
os.makedirs(LOG_FOLDER_NAME, exist_ok=True)

In [ ]:
os.makedirs(LOG_FOLDER_NAME, exist_ok=True)
# Joining the base and the requested path
# logging.info(f"req_path: {req_path}")
abs_path = os.path.join(LOG_FOLDER_NAME)

In [35]:
abs_path = os.path.join(LOG_FOLDER_NAME)
abs_path

'logs'